<div class="modal-header">
  <h4 class="modal-title">{{'Dispatch' | translate}} {{title}} - {{unitTitle | translate}}: {{mixedConsumption * 1000}}g</h4> 
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div class="row py-2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <input class="form-control form-control-lg rounded-pill" 
      *ngIf="isShow"
      [(ngModel)]="qrCode"
      autoselect
      (ngModelChange)='onNgModelChangeScanQRCode($event)'
      placeholder="Scan QR Code" type="text">
    </div>
    <div class="col-md-2"></div>
  </div>
  <ejs-grid #dispatchGrid [dataSource]='dataTemp' [allowSelection]='true' [allowSorting]='true'
    [allowSorting]='true'
    [toolbar]='toolbarOptions' allowResizing='true'
    gridLines='Both' 
    [editSettings]='editSettings'
    (actionBegin)="actionBegin($event)" 
    (actionComplete)="actionComplete($event)" 
    (toolbarClick)='toolbarClick($event)'>
    <e-columns>
      <e-column field='line' headerText='Line' textAlign='Center' width='100'>
          <ng-template #headerTemplate let-data>
            <span>{{'Line' | translate}}</span>
          </ng-template>
          <ng-template #template let-data>
            <ejs-dropdownlist #lineDropdownlist [dataSource]='value.lineNames' [(ngModel)]="data.line" popupHeight='200px' popupWidth='250px'
              [allowFiltering]='true' (select)='onChangeLine($event)'>
            </ejs-dropdownlist>
          </ng-template>
      </e-column>
      <e-column field='glue' headerText='Glue' textAlign='Center' width='120'>
          <ng-template #headerTemplate let-data>
            <span>{{'Glue' | translate}}</span>
          </ng-template>
        <ng-template let-data #editTemplate>
         {{value.glueName}}
        </ng-template>
      </e-column>
      <e-column field='standardAmount' [headerText]='unitTitle' textAlign='Center' width='100'>
            <ng-template #headerTemplate let-data>
              <span>{{unitTitle | translate}}</span>
            </ng-template>
          <ng-template let-data #template>
            {{data.standardAmount * 1000}}g
          </ng-template>
          <ng-template let-data #editTemplate>
            {{mixedConsumption * 1000}}g
          </ng-template>
      </e-column>
      <e-column field='real' headerText='Deliver' textAlign='Center' width='100'>
          <ng-template #headerTemplate let-data>
            <span>{{'Deliver' | translate}}</span>
          </ng-template>
          <ng-template let-data #template>
            <input type="text" class="e-input" [class.warning-focus]='data.warningStatus' [class.lock]='data.isLock'
              (keydown.enter)="keytab($event, data.index, data)" [autoselectdispatch]='data' [(ngModel)]="data.real"
              (focus)='onFocus($event, data.index, data)' [value]='data.real'>
          </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>
<div class="modal-footer justify-content-center d-flex">
  <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i class="fa fa-remove"></i> {{'Close' | translate}}</button>
  <button type="button" class="btn btn-success" *ngIf="mixedConsumption > 0" (click)='save()' ><i class="fa fa-check"></i>{{'Finish' | translate}} </button>
</div>