<div class="modal-header">
  <h4 class="modal-title">Dispatch {{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Line</th>
        <th scope="col">Glue Name</th>
        <th scope="col">Std. Amount</th>
        <th scope="col">Real</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <th scope="row">{{item.line}}</th>
        <th scope="row">{{item.glue}}</th>
        <td>{{item.standardAmount * 1000}}g</td>
        <td>
          <span *ngIf="item.id > 0">
            {{item.real}}g
          </span>
          <input type="text" class="e-input" *ngIf="item.id === 0" [class.warning-focus]='item.warningStatus'
                (keyup.enter)="keytab($event)" 
                (focus)='onFocus($event, i, item)' [value]='item.real'>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" >Save</button>
</div>